body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./assets/images/cat_tile.png');
  background-repeat: repeat;
  background-color: #fff;
}

video {
  background: #222;
  margin: 0 0 20px 0;
  /*width: 1024px;*/
}

canvas {
  border: 2px solid red;
}

button {
  padding: 3rem;
  font-size: 3rem;
  margin: 1rem;
}

button.initial {
  background-color: #f00;
}

button.primary {
  background-color: #11ff44;
}

input {
  padding: 3rem;
  font-size: 3rem;
  margin: 1rem;
}

select, option {
  padding: 3rem;
  font-size: 3rem;
  margin: 1rem;
}


h3 {
  font-size: 3rem;
}

input[type=checkbox] {
  transform: scale(10); /* IE */
  margin-left: 100px;
  margin-right: 50px;
  padding: 100px;
}

/* Might want to wrap a span around your checkbox text */
label
{
  /* Checkbox text */
  font-size: 3rem;
  display: inline;
}