body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./assets/images/cat_tile.png');
  background-repeat: repeat;
  background-color: #fff;
}

video {
  background: #222;
  margin: 0 0 20px 0;
  /*width: 1024px;*/
}

canvas {
  border: 2px solid red;
}