body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./assets/images/cat_tile.png');
  background-repeat: repeat;
  background-color: #fff;
}

video {
  background: #222;
  margin: 0 0 20px 0;
  /*width: 1024px;*/
}

canvas {
  border: 2px solid red;
}

button {
  padding: 3rem;
  font-size: 3rem;
  margin: 1rem;
}

button.initial {
  background-color: #f00;
}

button.primary {
  background-color: #11ff44;
}

h3 {
  font-size: 3rem;
}